{% extends 'base.html' %}

{% block content %}

        <div style=" width: 50% ; position: relative ; left: 130px; top:150px ; display: table; background: #EECDA3;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                ; padding : 10px ;">
                    {% comment %} <div style="border: 2px solid red; border-radius: 5px; width:70%" class="mx-auto" >
                      <img src="{{s_product.image.url}}" class="card-img-top" alt="..." width="auto" height="auto" >
                    </div> {% endcomment %}
                    <div class="card" style="width: 18rem; float: left;background: #e96443;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    ">
                      
                      <img src="{{s_product.image.url}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h1> {{s_product.name}}</h1>
                        <h2> {{s_product.dollar_amount}} $</h2>
                        <h3> {{s_product.availability}}</h3>
                      </div>

                    </div>

                    <div style=" width: 50% ; background-color:white ; padding : 10px ; float: left; margin: 0px 10px 0px 10px">
                      
                      {% if buy_form1 %}
                          <form action="">
                            {{buy_form1.as_p}}
                            {% csrf_token %}
                            <input type="submit" value="Buy it">
                          </form>
                      {% else %}
                          <a href="">اطلاع بده</a>
                      {% endif %}

                      <p align=right> {{s_product.updated}} :تاریخ آخرین بروزرسانی</p>
                      <p align=right> {{s_product.created}} :تاریخی</p>
                    </div >
                  
                    
        </div>  

{% endblock content %}